@mixin fonts {
    font-family: 'Red Hat Display', sans-serif;
}

@mixin backgroundMob {
    background: url(/images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@mixin backgroundDesk {
    background: url(/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@mixin container {
    max-width: 420px;
    
    margin: 0 auto;
    text-align: center;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    overflow: hidden;
    @include fonts;
    background: white;
}

@mixin border {
    border-radius: 17px;
    
}

@mixin attribution {
    position: fixed;
    bottom: 5px;
    font-size: 11px; text-align: center; 
    a { 
        color: hsl(228, 45%, 44%); 
    }
}

@mixin body {
    @include backgroundMob;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 0;
}

@mixin content {
    padding: 2rem;

    h1 {
        font-size: 25px;
        padding-bottom: 1rem;
    }

    p {
        line-height: 1.8rem;
        color: $Desaturatedblue;
    }
}